*.sw*
publish/
linux-build/
Resources/small/
Resources/medium/
Resources/large/
Resources/design/
proj.android/bin/
proj.android/gen/
proj.android/assets/
proj.android/obj/
proj.ios_mac/
proj.linux/
proj.wp8-xaml/
proj.win32/
cocos2d/
.cocos-project.json
._Classes
Classes/.ycm_extra_conf.pyc
