*.sw*
publish/
linux-build/
proj.android/bin/
proj.android/gen/
proj.android/assets/
proj.android/obj/
proj.android/libs/
proj.linux/
proj.wp8-xaml/
proj.win32/
._Classes
Classes/.ycm_extra_conf.pyc
cocos2d/plugin/.git
Resources/small
Resources/medium
Resources/large
Resources/design
