<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gravitron_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{73,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,64}}</string>
                <key>sourceSize</key>
                <string>{73,64}</string>
            </dict>
            <key>gravitron_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,64}}</string>
                <key>sourceSize</key>
                <string>{73,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gravitron.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:413192f6a319d4386429f7ea81967846:a18f7fab7022eb74e7c918f2e4d64fa1:dbab802a0bdef38995eb155bc6027a28$</string>
            <key>textureFileName</key>
            <string>gravitron.png</string>
        </dict>
    </dict>
</plist>
