<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>act1_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{577,577}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{577,577}}</string>
                <key>sourceSize</key>
                <string>{635,635}</string>
            </dict>
            <key>act1_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{577,577}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{577,577}}</string>
                <key>sourceSize</key>
                <string>{635,635}</string>
            </dict>
            <key>act1_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{633,633}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,633}}</string>
                <key>sourceSize</key>
                <string>{635,635}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>act.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97daa330e2235a290ce1c91224cb2698:58573af852e2f4573929632aaefef88f:d3531cf0bd334eb40b9c951303d242f1$</string>
            <key>textureFileName</key>
            <string>act.png</string>
        </dict>
    </dict>
</plist>
