<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctrl_cursor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{123,123}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{123,123}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>ctrl_wheel_plain.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{117,117}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>ctrl_wheel_pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,117}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{131,117}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>ctrl_wheel_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,121},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,96}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>notice_exclamation.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,121},{28,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{28,64}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctrl.pvr</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:285058b357532c9c74f375aadca7aacb:670761ed7bae331b49841575fead95e0:c4774b069816c120b5f2742f380aafe2$</string>
            <key>textureFileName</key>
            <string>ctrl.pvr</string>
        </dict>
    </dict>
</plist>
