<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctrl_cursor.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{154,154}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{154,154}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>ctrl_wheel_plain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{146,146}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>ctrl_wheel_pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,146}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{164,146}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>ctrl_wheel_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{119,119}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>notice_exclamation.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{36,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{36,80}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctrl.pvr</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88bead7959722553659fc4926161338d:77ded1d871843b0bbe46b1232c8c78ec:c4774b069816c120b5f2742f380aafe2$</string>
            <key>textureFileName</key>
            <string>ctrl.pvr</string>
        </dict>
    </dict>
</plist>
