<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,80},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>frame0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,80},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>frame0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,80},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>frame0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,80},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>frame0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>frame0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,41},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>frame0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,41},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>frame0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,41},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>frame0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,41},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>frame0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>frame0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>frame0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>frame0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>frame0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>frame0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>entry.pvr</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:255d594431109e1a57fda8b7bff74045:6cd8298b866bf0681ed7084a8db77b48:493b594512a5b376fbf7ecedb9186c9c$</string>
            <key>textureFileName</key>
            <string>entry.pvr</string>
        </dict>
    </dict>
</plist>
