<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>act1_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,468},{424,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{424,424}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>act1_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{424,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{424,424}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>act1_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{464,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{464,464}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>act.pvr</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ead3154bc14254f948b5fd1f9d1025d:3860090e390b5db7964fb2e7a4ac5ecb:83b7a2967d60fcc30daea11e3edfe202$</string>
            <key>textureFileName</key>
            <string>act.pvr</string>
        </dict>
    </dict>
</plist>
