<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>act1_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,373},{339,339}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{339,339}}</string>
                <key>sourceSize</key>
                <string>{371,371}</string>
            </dict>
            <key>act1_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{339,339}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{339,339}}</string>
                <key>sourceSize</key>
                <string>{371,371}</string>
            </dict>
            <key>act1_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{369,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{369,369}}</string>
                <key>sourceSize</key>
                <string>{371,371}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>act.pvr</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2e984b9bb333ffd54649219d8f98a7c:a84fc3f3755135eb8389e0be30be33d7:83b7a2967d60fcc30daea11e3edfe202$</string>
            <key>textureFileName</key>
            <string>act.pvr</string>
        </dict>
    </dict>
</plist>
