<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>entry_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,42},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>entry_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,42},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>entry_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,42},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>entry_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,42},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>entry_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>entry_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,22},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>entry_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,22},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>entry_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,22},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>entry_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,22},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>entry_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>entry_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>entry_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>entry_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>entry_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>entry_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>entry.pvr</string>
            <key>size</key>
            <string>{256,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b00ff0d994702e86a1ba3eb90eb32bd:5650738185aac13506dbeff0b3460189:493b594512a5b376fbf7ecedb9186c9c$</string>
            <key>textureFileName</key>
            <string>entry.pvr</string>
        </dict>
    </dict>
</plist>
