<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,262},{168,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,63}}</string>
                <key>sourceSize</key>
                <string>{168,63}</string>
            </dict>
            <key>frame0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,197},{168,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,63}}</string>
                <key>sourceSize</key>
                <string>{168,63}</string>
            </dict>
            <key>frame0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,132},{168,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,63}}</string>
                <key>sourceSize</key>
                <string>{168,63}</string>
            </dict>
            <key>frame0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,67},{168,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,63}}</string>
                <key>sourceSize</key>
                <string>{168,63}</string>
            </dict>
            <key>frame0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,407},{168,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,63}}</string>
                <key>sourceSize</key>
                <string>{168,63}</string>
            </dict>
            <key>frame0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,237},{168,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,63}}</string>
                <key>sourceSize</key>
                <string>{168,63}</string>
            </dict>
            <key>frame0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,67},{168,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,63}}</string>
                <key>sourceSize</key>
                <string>{168,63}</string>
            </dict>
            <key>frame0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,237},{168,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,63}}</string>
                <key>sourceSize</key>
                <string>{168,63}</string>
            </dict>
            <key>frame0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,67},{168,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,63}}</string>
                <key>sourceSize</key>
                <string>{168,63}</string>
            </dict>
            <key>frame0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{168,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,63}}</string>
                <key>sourceSize</key>
                <string>{168,63}</string>
            </dict>
            <key>frame0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{168,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,63}}</string>
                <key>sourceSize</key>
                <string>{168,63}</string>
            </dict>
            <key>frame0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{168,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,63}}</string>
                <key>sourceSize</key>
                <string>{168,63}</string>
            </dict>
            <key>frame0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{168,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,63}}</string>
                <key>sourceSize</key>
                <string>{168,63}</string>
            </dict>
            <key>frame0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,63}}</string>
                <key>sourceSize</key>
                <string>{168,63}</string>
            </dict>
            <key>frame0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,63}}</string>
                <key>sourceSize</key>
                <string>{168,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>entry.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2313b6f8ab2bf931f9e5d109f7bc23b9:3e9dcb6217edb49d8753565555f824da:9466bdb26700dda22c060100f61c2f0f$</string>
            <key>textureFileName</key>
            <string>entry.png</string>
        </dict>
    </dict>
</plist>
